/* 
    FALTA

    - responsividade media queries
    - mobile
      - nav lateral
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

:root {
  --bg-color: rgb(17, 19, 28);
  --primary-color: rgb(38, 43, 62);
  --secundary-color: rgb(95, 83, 173);
  --text-color: #fff;
  --text-color-2: #fff;

  --heading-fs: clamp(3rem, 2rem + 1vw, 5rem);
  --text-fs: clamp(1rem, 1rem + 1vw, 2rem);
  --text-fs-2: clamp(1rem, .8rem + 1vw, 1.6rem);

  font-size: 62.5%;
}

.light {
  --bg-color: #f7f7f7;
  --primary-color: rgb(77, 87, 128);
  --secundary-color: rgb(67, 55, 146);
  --text-color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-size: 1.6rem;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--text-color);
}

body.menu-expanded footer,
body.menu-expanded .fav-text {
  z-index: -1;
}

.container {
  min-height: 100vh;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
  padding: 10rem 2rem 10rem;
  background-color: var(--bg-color);

  transition: .5s;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--text-fs-2);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.text-2 {
  font-size: var(--text-fs-2);
}

.current {
  font-weight: bold;
  color: var(--secundary-color);
}